#Redirection code starts

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://nailit.pl%{REQUEST_URI} [L,R=301]

# SPA application support
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

#Redirection code Ends